@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutQuanTriVien.cshtml";
}

<div id="page-wrapper">
    
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->